div.carousel-item {
    max-height: 400px;
    overflow: hidden;
    height: 400px; /* Altura fija para el carrusel */
 }
 
 div.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 }
 
 .carousel-inner {
    height: 400px; /* Asegura que el contenedor interno también tiene altura fija */
 }

div.fondo{
    background-image: url("../img/jesus-3149505_640.png");
}

div.fondo img{
width: 10px;
}

i1{
    color: blue;
    font-size: 45px;
}

i2{
    color: red;
    font-size: 45px;
}

i3{
    color: rgb(206, 206, 22);
    font-size: 45px;
}

i4{
    color: rgb(43, 43, 133);
    font-size: 45px;
}

i5{
    color: purple;
    font-size: 45px;
}
